body{
   margin: 0%;
   padding: 0%;
}
#header{
    background-image: url(images/billboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.head{
    display: flex;
    justify-content: space-around;
    background-color: white;
    opacity: 0.6;
    width: 100%;
    z-index: 1;
}
.nav-list{
    list-style: none;
    display: flex;   
}
.nav-bar{
    padding: 20px 20px;
}
.foot{
    display: flex;
    justify-content: space-between;
    background-color: white;
    opacity: 0.6;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.submit-button{
   background-color: lightskyblue;
   color: white;
   margin: 20px 90px;
}
.text{
    margin-left: 30px;
}
#arkstuff{
    background-color: grey;
    width: 100%;
}
/* .second-div{
    display: flex;
    justify-content: center;
    background-color: grey;
} */
.template-gridcontainer {
    display: grid;
    grid-gap:0px 15px;
    display: inline grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}
.third-div{
    width: 100px;
    height: 100px;
}
